In [ ]:
#1

def taboada(n):
  print(f"Taboada do {n}")
  print("-"*12)
  for i in range(11):
    print(f"{i} x {n} = {i*n}")

taboada(5)

Taboada do 5
------------
0 x 5 = 0
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [ ]:
#2

def imprime(n):
  for i in range(n):
    print((str(i+1)+" ")*(i+1))

imprime(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#3

def imprime2(n):
  lista = ""
  for i in range (n):
    lista += str(i+1) + " "
    print(lista)

imprime2(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#4

def minutos(segundos):
  hora = 0
  minuto = 0
  while segundos >= 60:
    minuto += 1
    segundos -= 60
  while minuto >= 60:
    hora += 1
    minuto -= 60
  print(hora,minuto,segundos)

minutos(4814)

1 20 14

In [ ]:
#5

def natural(n):
  return True if int(n) == n and n%2 == 1 and n > 0 or n == 2 else False

print(natural(2))

True

In [ ]:
#6

def cont(n):
  return len(str(n)) if n > 0 and int(n) == n else "ND"

cont(4)

1

In [ ]:
#7
lista = ['1', '1', '2', '1']

def todos_iguais(n):
  return True if len(set(n)) == 1 else False

todos_iguais(lista)

False

In [ ]:
#8
lista = ['1', '3', '4', '5']

def todos_iguais2(n):
  return len(set(n)) == len(n)

todos_iguais2(lista)

True

In [ ]:
#9
lista = ['1', '3', '4', '5']
n = "7"
def indice_elemento(n,lista):
  return lista.index(n) if n in lista else (-1)

indice_elemento(n,lista)

-1

In [ ]:
#10

def potencia(n):
  i,x = 0,0
  while x < n:
    x = 2**i
    i += 1
  return x
potencia(14)

16

In [ ]:
#12
lista = ['1', '3', '4', '5']
n = -1

def maior(n,lista):
  lista.sort()
  return lista[n]

maior(n,lista)

'5'

In [ ]:
#13
m = 7
n = 2

def div(m,n):
  return m